@charset 'utf-8';

p {
	margin: 0;
}

body {
	background-color: #eee;
	/*background-color: #F8F8F8;*/
	position: relative;
	overflow-x: hidden;
}

.wrap {
	position: relative;
	z-index: 900;
	width: 100%;
	background-color: #eee;
	-webkit-transform: translatex(0);
		-moz-transform: translatex(0);
		-ms-transform: translatex(0);
		-o-transform: translatex(0);
		transform: translatex(0);
	-webkit-transition: transform 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

.site-prime-color {
	color: #0089FF;
}
.site-sec-color {
	color: #38BA02;
}

/* Navbar */
.navholder {
	overflow: hidden;
	position: relative;
	height: 55px;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	/*background-color: #fff;*/
	background-color: #0089FF;
	border-width: 0px 0px 5px;
	border-color: #eee;
}

.navbar-default .navbar-nav li a {
	text-transform: uppercase;
	color: #fff;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
	color: #fff;
	background-color: #38BA02;
}
.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover,
.navbar-default .navbar-nav li.active a:focus {
	color: #0089FF;
	background-color: #eee;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-toggle,
.sb-toggle {
	position: relative;
	padding: 9px 10px;
	margin: 0px;
	height: 50px;
	background-color: transparent;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0px;
	outline: none;
}
.navbar-default .navbar-toggle span.icon-bar,
.sb-toggle span.icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.sb-toggle span.icon-bar:first-child {
	width: 15px;
}
.sb-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.sb-toggle:focus,
.sb-toggle:hover {
	background-color: #eee;
}
.navbar-default .navbar-toggle:focus span.icon-bar,
.navbar-default .navbar-toggle:hover span.icon-bar,
.sb-toggle:focus span.icon-bar,
.sb-toggle:hover span.icon-bar {
	background-color: #0089FF;
}
.navbar-default .navbar-nav li a#employers-zone {
	background-color: #22A3FD;
}

/* Search bar */
#plain-search-btn {
	background-color: #0089FF;
	color: #fff;
}
#plain-search-btn:hover {
	background-color: #38BA02;
}

/* Categories Section Styling */
.sidebar {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 1200;
}
#category-section {
	position: fixed;
	background-color: #0089FF;
	/*background-color: #0B114B;*/
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
}
#category-body {
	overflow-y: auto;
	position: absolute;
	top: 65px;
	width: 100%;
	bottom: 0px;
	-webkit-overflow-scrolling: touch;
}

#ctg-heading {
	position: fixed;
	background-color: #0089FF;
	z-index: 1;
}
#ctg-list-body {
	z-index: 0;
}

.sb-toggle, .sb-toggle:hover, .sb-toggle:focus {
	position: fixed;
	left: -1px;
	top: 45%;
	background-color: #38BA02;
	z-index: 950;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0px;
	color: #fff;
}
.sb-toggle:before {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	border-top: 10px solid transparent;
	border-left: 26px solid #38BA02;
}
.sb-toggle:after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0;
	border-bottom: 10px solid transparent;
	border-left: 26px solid #38BA02;
}
.tooltip .tooltip-inner {
	font-size: 20px;
}

#hide-sidebar {
	color: #fff;
	font-size: 30px;
	position: relative;
	top: 40%;
}
.sb-active {
	/*z-index: 1001;*/
	left: 0px !important;
}

#category-title {
	color: #fff;
	font-weight: normal;
	padding: 15px;
	border-bottom: 1px solid #09F;
	box-shadow: 0px 0px 5px 0px #074FAE;
	margin: 0;
	background-color: #0089FF;
	width: 100%;
	top: 0px;
	z-index: 1;
}

#category-list {
	z-index: 0;
	/*padding-top: 65px;*/
}

#category-list li {
	margin-top: 0px;
}

#category-list li a {
	color: #fff;
	border-radius: 0;
}
#category-list li a:hover, #category-list li a:focus {
	/*background-color: #0064BA;*/
	background-color: #38BA02;
}
#category-list li.active a {
	background-color: #0010AB;
}
#category-list li a:hover .badge {
	background-color: #fff;
	color: #38BA02;
}

.badge {
	background-color: #0010AB;
	/*background-color: #338ECF;*/
}

/* Plain Search form */
#plain-search-form {
	margin-bottom: 15px;
	padding: 20px;
	background-image: url('../img/search-bg.jpg');
	background-position: center center;
	background-size: cover;
	position: relative;
}
.dullness {
	position: absolute; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background-color: rgba(0, 137, 255, 0.5);
}
#search-form-container {
	position: relative;
	z-index: 2;
}
#intro-title {
	margin: 25px 0px;
	color: #fff !important;
	font-size: 55px;
	font-family: 'Raleway', 'Helvetica', sans-serif;
	text-shadow: 0px 0px 15px #0A114E;
}
#intro-title small { color: inherit; }
#plain-search-form .panel {
	margin-bottom: 0px;
	background-color: rgba(255,255,255,0.5);
}

#plain-search-body input, #plain-search-body .form-group button {
	width: 100%;
}

#refers-posts .panel {
	position: relative;
}
#refers-posts-body {
	box-shadow: 0px 5px 5px -5px #777;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	overflow:hidden;
}

/*Single Post styling*/
.post-single-body {
	border-style: dashed;
	border-color: #a3a3a3;
	transition: 0.2s all ease-in-out;
	-o-transition: 0.2s all ease-in-out;
	-ms-transition: 0.2s all ease-in-out;
	-moz-transition: 0.2s all ease-in-out;
	-webkit-transition: 0.2s all ease-in-out;
}
.post-single-body:hover, .post-single-body.fk {
	border: 1px solid #0089FF;
	box-shadow: 0px 0px 5px 0px #0089FF;
}
.post-category-title { 
	font-weight: normal;
	position: absolute;
	top: 0px;
	margin: 15px 0px 0px 10px;
	font-size: 28px;
	color: #004683;
}
.post-title h1, .post-title h2, .post-title h3, .post-title h4 {
	background-color: #F5FBFF;
	margin: 0;
	padding: 5px;
}
.post-single {
	padding: 0px 10px;
}
.post-single .post-details .icon {
	/*width: 100px;*/
	margin: auto;
}

.post-details .job-details {
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
}
.post-details .job-details .location {
	text-align: center;
}
.post-details .job-details .row {
	margin-top: 10px;
}
.post-details .job-details .post-action {
	position: relative;
	padding-top: 20%;
}

.post-details .job-details p {
	margin: 0px;
}
.post-details .job-details .location span {
	color: #0089FF;
}

a.apply {
	background-color: transparent!important;
	border-color: #0089FF;
	color: #0089FF;
	padding: 3px 10px;
	font-size: 12px;
	width:100%;
}
a.apply:hover, a.apply:focus {
	border-color: #38BA02;
	color: #38BA02;
}
.reward-details p b {
	color: #337AB7;
}
.reward-details .reward-title  { font-size: 12px; }
.reward-details .reward-price {	font-size: 14px; }

a.refer {
	margin-top: 5px;
	font-size: 12px;
}
a.refer:hover {
	background-color: #38BA02;
}
a.refer:focus {
	box-shadow: 1px 1px 3px 0px #1C6100 inset;
	background-color: #38BA02;
}

.btn-md {
	font-size: 14px;
	/*margin-left: 5px;*/
	position: relative;
	padding: 6px 10px;
	top: -6px;
	border: 1px solid #fff;
	color: #1380E9;
	border-radius: 2px;
}
.btn-md:hover {
	border-color: #1380E9;
	text-decoration: none;
	color: #1380E9;
}
.btn-md:active, .btn-md:focus {
	border-color: #1380E9;
	text-decoration: none;
	color: #1380E9;
	box-shadow: 2px 2px 3px 0px #ddd inset;
}

.btn-refer {
	color: #fff;
	width: 100%;
	display: block;
	padding: 3px 10px;
	background-color: #0089FF;
}
.btn-refer:hover,.btn-refer:focus {
	color: #fff;
}
.btn-refer:active {
	background-color: #337AB7;
}

	/* slick css */
.slick-slider {
	margin-top: 35px;
	padding: 0px 25px;
	background-color: #F7F7F7;
	box-shadow: inset 0px 0px 10px 0px #A1B5D2;
	background-image: url(../img/search-bg-slick.jpg);
}
.slick-list {
	padding-top: 20px;
}
.slick-prev, .slick-next {
	position: absolute;
	top: 10px;
	width: initial;
	height: initial;
	left: initial;
	height: 100%;
	font-weight: bold;
}

.slick-prev,
.slick-prev:focus {
	left: 0px;
	background-image: -webkit-linear-gradient(right,transparent, #fff); 
	background-image: -ms-linear-gradient(right,transparent, #fff); 
	background-image: -moz-linear-gradient(right,transparent, #fff); 
	background-image: -o-linear-gradient(right,transparent, #fff); 
	background-image: linear-gradient(right,transparent, #fff); 
}
.slick-next,
.slick-next:focus { 
	right: 0px;
	background-image: -webkit-linear-gradient(left,transparent, #fff);
	background-image: -moz-linear-gradient(left,transparent, #fff);
	background-image: -ms-linear-gradient(left,transparent, #fff);
	background-image: -o-linear-gradient(left,transparent, #fff);
	background-image: linear-gradient(left,transparent, #fff);
}
.slick-prev:hover {
	background-image: -webkit-linear-gradient(right,transparent, #ddd); 
	background-image: -ms-linear-gradient(right,transparent, #ddd); 
	background-image: -moz-linear-gradient(right,transparent, #ddd); 
	background-image: -o-linear-gradient(right,transparent, #ddd); 
	background-image: linear-gradient(right,transparent, #ddd); 
}
.slick-next:hover {
	background-image: -webkit-linear-gradient(left,transparent, #ddd);
	background-image: -moz-linear-gradient(left,transparent, #ddd);
	background-image: -ms-linear-gradient(left,transparent, #ddd);
	background-image: -o-linear-gradient(left,transparent, #ddd);
	background-image: linear-gradient(left,transparent, #ddd);
}
.slick-prev:before,
.slick-next:before {
	font-size: 30px;
	color: #0089FF;
	font-family: 'fontAwesome';
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
	line-height: 28px;
}
.slick-prev:before { content: '\f104'; padding-right: 3px; }
.slick-next:before { content: '\f105'; padding-left: 3px; }
.slick-prev:hover:before,
.slick-next:hover:before {
	background-color: #FFFFFF;
	color: #0089FF;
}
.slick-prev:hover:before { box-shadow: 4px 0px 8px -3px #BABABA; }
.slick-next:hover:before { box-shadow: -4px 0px 8px -3px #BABABA; }
.slick-dots {
	bottom: initial;
	opacity: 0.4;
	left: 0px;
}
.slick-dots:hover { opacity: 1; }
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	border-radius: 50%;
	background-color: #0089FF;
	width: 10px;
	height: 10px;
}
.slick-dots li button:before {
	content: '';
}
.slick-dots li.slick-active button {
	background-color: #fff;
	border: 2px solid #0089FF;
	position: relative;
	left: -2px;
	width: 8px;
	height: 8px;
}

/* Footer */
footer { color: #fff; }
footer a,
footer a:focus {
	color: #C5E8FF;
	font-size: 12px;
	text-decoration: none;
}
footer a:hover {
	text-decoration: none;
	color: #fff;
}
#info-wrap { 
	/*background-color: #12233A;*/
	background-color: #0D2D59;
	padding: 20px 0px;
}
#reserved {
	/*background-color: #002A62;*/
	background-color: #12233A;
	color: #99D0FF;
	font-size: 12px;
	padding: 10px 0px;
}
#reserved a { color: #ccc; }
#reserved a:hover {	text-decoration: none; color: #fff; }

/* Scrollbar */
#category-body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

#category-body::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

#category-body::-webkit-scrollbar-thumb {
	background-color: rgba(0, 45, 82, 0.7);
}

/* Extra Small devices (Mobile Phones, 280px and up) */
@media (min-width: 100px) {
	.sidebar {
		width: 270px;
		left: -270px;
	}
	#ctg-heading {
		width: 270px;
	}
	/*.wrap.sb-open {
		-webkit-transform: translatex(270px);
		-moz-transform: translatex(270px);
		-ms-transform: translatex(270px);
		-o-transform: translatex(270px);
		transform: translatex(270px);
	}*/
	#intro-title { font-size: 35px; }
	.post-details .job-details .post-action {
		position: relative;
		padding-top: 5%;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar .container .navbar-brand,
	.navbar .container-fluid .navbar-brand {
		/*margin-left:20px;*/
	}
	.sidebar {
		width: 25%;
		left: -25%;
	}
	#ctg-heading {
		width: 25%;
	}
	/*.wrap.sb-open {
		-webkit-transform: translatex(25%);
		-moz-transform: translatex(25%);
		-ms-transform: translatex(25%);
		-o-transform: translatex(25%);
		transform: translatex(25%);
	}*/
	#plain-search-body #search-form-body .col:last-child {
		margin-top: 15px;
	}

	#refers-posts {
		/*padding-left: 0px;*/
	}
	.post-details .job-details .post-action {
		position: relative;
		padding-top: 10%;
	}
	#intro-title { font-size: 55px; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.sidebar {
		width: 20%;
		left: -20%;
	}
	#ctg-heading {
		width: 20%;
	}
	/*.wrap.sb-open {
		-webkit-transform: translatex(20%);
		-moz-transform: translatex(20%);
		-ms-transform: translatex(20%);
		-o-transform: translatex(20%);
		transform: translatex(20%);
	}*/
	#plain-search-body #search-form-body .col:last-child {
		margin-top: 0;
	}
	#plain-search-body .form-group {
		padding-right: 0px;
	}
	#plain-search-body .col:last-child .form-group:last-child {
		padding-right: 15px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#plain-search-body #search-form-body .col:last-child {
		margin-top: 0;
	}
}