/*.bootstrap-select.btn-group .dropdown-menu {
	max-height: 274px !important;
}*/

.bootstrap-select.btn-group .dropdown-menu.inner::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	box-shadow: none;
	background-color: transparent;
}

.bootstrap-select.btn-group .dropdown-menu.inner::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

.bootstrap-select.btn-group .dropdown-menu.inner::-webkit-scrollbar-thumb {
	background-color: rgba(110, 37, 143, 0.5);
	border-radius: 3px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}

[data-id="experience"] {
    background-color: #fff;
}

.bootstrap-select.open.dropup .dropdown-menu.inner {
	max-height: 133px !important;
}