<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talentvouch.mapper.DataMapper">

  <select id="getLoginCredentials" parameterType="com.talentvouch.model.login.LoginDtls" resultMap="loginCredResultMap">
	SELECT users.USERNAME, users.PASSWORD
        FROM TV_DATA.USERS users
        WHERE users.USERNAME = #{userName}
		
  </select>
  
  <resultMap id="loginCredResultMap" type="com.talentvouch.model.login.LoginDtls">
	  
	  <result property="userName" column="USERNAME"/>
	  <result property="password" column="PASSWORD"/> 
	  
  </resultMap>
    
  <select id="getCategoryDetails" resultMap="categoryResultMap">
      
	SELECT category.CATEGORY_ID, category.CATEGORYNAME, COUNT(jobs.CATEGORY_ID) AS jobsCount
        FROM TV_DATA.CATEGORIES category, TV_DATA.JOBS jobs
        WHERE category.STATUS = 1 AND
              category.CATEGORY_ID = jobs.CATEGORY_ID GROUP BY category.CATEGORY_ID
		
  </select>
  
  <resultMap id="categoryResultMap" type="com.talentvouch.usebeans.CategoryVO">
	  
	  <result property="categoryId" column="CATEGORY_ID"/>
	  <result property="categoryName" column="CATEGORYNAME"/> 
	  <result property="jobsCount" column="jobsCount"/>
  </resultMap>
  
  
  <select id="getTopJobs" resultMap="jobDtlsResultMap">
      
	SELECT  jobs.JOB_ID, jobs.JOB_TITLE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT, employerDtls.COMPANY_NAME, location.CITYNAME 
        FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS employerDtls, TV_DATA.LOCATION location
        WHERE jobs.STATUS = 1 AND
        employer.EMPLOYER_ID = jobs.EMPLOYER_ID AND
        employerDtls.EMPLOYER_ID = employer.EMPLOYER_ID AND
        jobs.LOCATION_ID = location.LOCATION_ID 
		
  </select>
  
  <select id="getJobsWithIntroReward" resultMap="jobDtlsResultMap">
      
	SELECT  jobs.JOB_ID, jobs.JOB_TITLE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT, employerDtls.COMPANY_NAME, location.CITYNAME 
        FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS employerDtls, TV_DATA.LOCATION location
        WHERE jobs.STATUS = 1 AND
        employer.EMPLOYER_ID = jobs.EMPLOYER_ID AND
        employerDtls.EMPLOYER_ID = employer.EMPLOYER_ID AND
        jobs.LOCATION_ID = location.LOCATION_ID AND
        (jobs.INTRO_AMOUNT IS NOT NULL AND jobs.INTRO_AMOUNT != 0.00) ORDER BY jobs.INTRO_AMOUNT desc
		
  </select>

  
   <select id="getFresherJobs" resultMap="jobDtlsResultMap">
      
	SELECT  jobs.JOB_ID, jobs.JOB_TITLE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT, employerDtls.COMPANY_NAME, location.CITYNAME 
        FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS employerDtls, TV_DATA.LOCATION location
        WHERE jobs.STATUS = 1 AND
        employer.EMPLOYER_ID = jobs.EMPLOYER_ID AND
        employerDtls.EMPLOYER_ID = employer.EMPLOYER_ID AND
        jobs.LOCATION_ID = location.LOCATION_ID AND
        (jobs.EXPERIENCEREQUIRED = 0.00) ORDER BY jobs.INTRO_AMOUNT desc
		
  </select>
   
    <!--Common result map for the quries getFresherJobs, getJobsWithIntroReward, getTopJobs -->
  <resultMap id="jobDtlsResultMap" type="com.talentvouch.usebeans.JobDtlsVO">
	  
	  <result property="jobId" column="JOB_ID"/>
	  <result property="jobTitle" column="JOB_TITLE"/> 
	  <result property="refAmount" column="REFERAL_AMOUNT"/>
          <result property="introAmount" column="INTRO_AMOUNT"/>
	  <result property="compName" column="COMPANY_NAME"/> 
	  <result property="cityName" column="CITYNAME"/>
      
  </resultMap>
  
  <select id="getRelevantJobs" parameterType="com.talentvouch.model.search.SearchJobInputDtls" resultMap="relevantJobsResultMap">
      
    SELECT jobs.JOB_TITLE, empDtls.COMPANY_NAME, jobs.SALARY, jobs.EXPERIENCEREQUIRED, location.CITYNAME, jobs.SKILLSREQUIRED, jobs.LONGDESC,
            employer.EMP_DISPLAYNAME, jobs.CREATED_DATE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT
    FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS empDtls, TV_DATA.LOCATION location 
    WHERE 1=1 AND
            <if test="jobTitle != null">
                (LOWER(jobs.JOB_TITLE) LIKE '%${jobTitle}%' OR LOWER(jobs.SKILLSREQUIRED) LIKE '%${jobTitle}%' OR
                 LOWER(empDtls.COMPANY_NAME) LIKE '%${jobTitle}%') AND
            </if>
            <if test="location != null">
                LOWER(location.CITYNAME) LIKE '%${location}%' AND 
            </if>
            <if test="salary != null">
                 LOWER(jobs.salary) LIKE '%${salary}%' AND
            </if>
            <if test="experience != null">
                 LOWER(jobs.EXPERIENCEREQUIRED) LIKE '%${experience}%' AND
            </if>

          jobs.EMPLOYER_ID = employer.EMPLOYER_ID AND
          employer.EMPLOYER_ID = empDtls.EMPLOYER_ID AND
          location.LOCATION_ID = jobs.LOCATION_ID

  </select>
  
   <resultMap id="relevantJobsResultMap" type="com.talentvouch.usebeans.RefinedJobDtlsVO">
	  
        <result property="jobTitle" column="JOB_TITLE"/>
	<result property="compName" column="COMPANY_NAME"/> 
        <result property="location" column="CITYNAME"/>
	<result property="skillsRequired" column="SKILLSREQUIRED"/> 
        <result property="experienceRequired" column="EXPERIENCEREQUIRED"/> 
        <result property="jobDesc" column="LONGDESC"/>
        <result property="salary" column="SALARY"/>
	<result property="employer" column="EMP_DISPLAYNAME"/> 
        <result property="postedDate" column="CREATED_DATE"/> 
        <result property="refAmount" column="REFERAL_AMOUNT"/> 
        <result property="introAmount" column="INTRO_AMOUNT"/> 
        
	  
      
  </resultMap>
  
  <insert id="registerUser" parameterType="com.talentvouch.model.login.LoginDtls">
      INSERT INTO TV_DATA.USERS (USERNAME, DISPLAYNAME, PASSWORD, USERROLE_ID, STATUS) VALUES
             (#{email}, 'venkat', #{password}, (SELECT USERROLE_ID
                                                 FROM TV_DATA.USERROLES WHERE USERROLE = 'user'), '1')
  </insert>
  
  <select id="getUserPwd" parameterType="com.talentvouch.model.login.LoginDtls" resultType="String">
      SELECT PASSWORD 
      FROM TV_DATA.USERS
      WHERE USERNAME = #{email}
  </select>
  
  <select id="getJobCountByLocation" resultMap="jobCountResultMap">
      SELECT location.CITYNAME as label, COUNT(jobs.JOB_ID) as jobsCount, location.LOCATION_ID as id
      FROM TV_DATA.LOCATION location, TV_DATA.JOBS jobs
      WHERE location.STATUS = '1' AND 
            jobs.STATUS = '1' AND
            jobs.LOCATION_ID = location.LOCATION_ID GROUP BY jobs.LOCATION_ID
  </select>
  
  <select id="getJobCountByJobTitle" resultMap="jobCountResultMap">
      SELECT jobs.JOB_TITLE as label, COUNT(jobs.JOB_ID) as jobsCount, jobs.JOB_ID as id
      FROM TV_DATA.LOCATION location, TV_DATA.JOBS jobs
      WHERE location.STATUS = '1' AND 
            jobs.STATUS = '1' AND
            jobs.LOCATION_ID = location.LOCATION_ID GROUP BY jobs.JOB_TITLE
  </select>
  
  <!--Common result map for the quries getJobCountByLocation, getJobCountByJobTitle-->
  <resultMap id="jobCountResultMap" type="com.talentvouch.model.search.JobsCount">
      <result property="jobsCount" column="jobsCount"/>
      <result property="label" column="label"/> 
      <result property="labelId" column="id"/> 
  </resultMap>
  
  <select id="getRelevantJobsByfacets" parameterType="com.talentvouch.model.search.SearchJobFacetDtls" resultMap="relevantJobsResultMap">
      
    SELECT jobs.JOB_TITLE, empDtls.COMPANY_NAME, jobs.SALARY, jobs.EXPERIENCEREQUIRED, location.CITYNAME, jobs.SKILLSREQUIRED, jobs.LONGDESC,
            employer.EMP_DISPLAYNAME, jobs.CREATED_DATE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT
    FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS empDtls, TV_DATA.LOCATION location
    WHERE 
      <if test="locationIds != null and locationIds != ''">
                location.LOCATION_ID IN (${locationIds}) AND
            </if>
            <if test="jobTitles != null and jobTitles != ''">
                jobs.JOB_TITLE IN (${jobTitles}) AND
            </if>
            <if test="categoryIDs != null and categoryIDs != ''">
                 jobs.CATEGORY_ID IN (${categoryIDs}) AND
            </if>
      
            jobs.EMPLOYER_ID = employer.EMPLOYER_ID AND
            employer.EMPLOYER_ID = empDtls.EMPLOYER_ID AND
            location.LOCATION_ID = jobs.LOCATION_ID
            

  </select>
  
  <select id="getUserDtls" parameterType="String" resultMap="userDtlsResultMap">
    SELECT  users.USER_ID, users.USERNAME, users.DISPLAYNAME, users.USERROLE_ID, users.STATUS,
            userDtls.USERDETAILS_ID, userDtls.ADDRESS, userDtls.PHONENUMBER, userDtls.EMAIL_ID, userDtls.REWARDAMOUNT,
            userDtls.EXPERIENCE, userDtls.JOB_TITLE, userDtls.JOB_LOCATION, userDtls.SKILLS
    FROM TV_DATA.USERS users, TV_DATA.USERDETAILS userDtls
    WHERE users.USER_ID = userDtls.USER_ID AND
          users.USERNAME = #{userName}
  </select>
   <resultMap id="userDtlsResultMap" type="com.talentvouch.model.login.UserDtls">
       
      <result property="userID" column="USER_ID"/>
      <result property="userName" column="USERNAME"/> 
      <result property="displayName" column="DISPLAYNAME"/>
      <result property="userRoleId" column="USERROLE_ID"/>
      <result property="status" column="STATUS"/> 
      <result property="userDtlsId" column="USERDETAILS_ID"/>
      <result property="address" column="ADDRESS"/>
      <result property="phoneNo" column="PHONENUMBER"/> 
      <result property="email" column="EMAIL_ID"/>  
      <result property="rewardAmount" column="REWARDAMOUNT"/>
      <result property="experience" column="EXPERIENCE"/> 
      <result property="jobTitle" column="JOB_TITLE"/> 
      <result property="jobLocation" column="JOB_LOCATION"/>
      <result property="skills" column="SKILLS"/> 
      
  </resultMap>
  
</mapper>