<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.talentvouch.mapper.DataMapper">

  <select id="getLoginCredentials" parameterType="com.talentvouch.model.login.LoginDtls" resultMap="loginCredResultMap">
	SELECT users.USERNAME, users.PASSWORD
        FROM TV_DATA.USERS users
        WHERE users.USERNAME = #{userName}
		
  </select>
  
  <resultMap id="loginCredResultMap" type="com.talentvouch.model.login.LoginDtls">
	  
	  <result property="userName" column="USERNAME"/>
	  <result property="password" column="PASSWORD"/> 
	  
  </resultMap>
    
  <select id="getCategoryDetails" resultMap="categoryResultMap">
      
	SELECT category.CATEGORY_ID, category.CATEGORYNAME, COUNT(jobs.CATEGORY_ID) AS jobsCount
        FROM TV_DATA.CATEGORIES category, TV_DATA.JOBS jobs
        WHERE category.STATUS = 1 AND
              category.CATEGORY_ID = jobs.CATEGORY_ID GROUP BY category.CATEGORY_ID
		
  </select>
  
  <resultMap id="categoryResultMap" type="com.talentvouch.usebeans.CategoryVO">
	  
	  <result property="categoryId" column="CATEGORY_ID"/>
	  <result property="categoryName" column="CATEGORYNAME"/> 
	  <result property="jobsCount" column="jobsCount"/>
  </resultMap>
  
  
  <select id="getTopJobs" resultMap="jobDtlsResultMap">
      
	SELECT  jobs.JOB_ID, jobs.JOB_TITLE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT, employerDtls.COMPANY_NAME, location.CITYNAME 
        FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS employerDtls, TV_DATA.LOCATION location
        WHERE jobs.STATUS = 1 AND
        employer.EMPLOYER_ID = jobs.EMPLOYER_ID AND
        employerDtls.EMPLOYER_ID = employer.EMPLOYER_ID AND
        jobs.LOCATION_ID = location.LOCATION_ID 
		
  </select>
  
  <select id="getJobsWithIntroReward" resultMap="jobDtlsResultMap">
      
	SELECT  jobs.JOB_ID, jobs.JOB_TITLE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT, employerDtls.COMPANY_NAME, location.CITYNAME 
        FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS employerDtls, TV_DATA.LOCATION location
        WHERE jobs.STATUS = 1 AND
        employer.EMPLOYER_ID = jobs.EMPLOYER_ID AND
        employerDtls.EMPLOYER_ID = employer.EMPLOYER_ID AND
        jobs.LOCATION_ID = location.LOCATION_ID AND
        (jobs.INTRO_AMOUNT IS NOT NULL AND jobs.INTRO_AMOUNT != 0.00) ORDER BY jobs.INTRO_AMOUNT desc
		
  </select>

  
   <select id="getFresherJobs" resultMap="jobDtlsResultMap">
      
	SELECT  jobs.JOB_ID, jobs.JOB_TITLE, jobs.REFERAL_AMOUNT, jobs.INTRO_AMOUNT, employerDtls.COMPANY_NAME, location.CITYNAME 
        FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS employerDtls, TV_DATA.LOCATION location
        WHERE jobs.STATUS = 1 AND
        employer.EMPLOYER_ID = jobs.EMPLOYER_ID AND
        employerDtls.EMPLOYER_ID = employer.EMPLOYER_ID AND
        jobs.LOCATION_ID = location.LOCATION_ID AND
        (jobs.EXPERIENCEREQUIRED = 0.00) ORDER BY jobs.INTRO_AMOUNT desc
		
  </select>
   
    <!--Common result map for the quries getFresherJobs, getJobsWithIntroReward, getTopJobs -->
  <resultMap id="jobDtlsResultMap" type="com.talentvouch.usebeans.JobDtlsVO">
	  
	  <result property="jobId" column="JOB_ID"/>
	  <result property="jobTitle" column="JOB_TITLE"/> 
	  <result property="refAmount" column="REFERAL_AMOUNT"/>
          <result property="introAmount" column="INTRO_AMOUNT"/>
	  <result property="compName" column="COMPANY_NAME"/> 
	  <result property="cityName" column="CITYNAME"/>
      
  </resultMap>
  
  <select id="getRelevantJobs" parameterType="com.talentvouch.model.search.SearchJobInputDtls" resultMap="relevantJobsResultMap">
      
    SELECT jobs.JOB_TITLE, empDtls.COMPANY_NAME, jobs.SALARY, jobs.EXPERIENCEREQUIRED, location.CITYNAME, jobs.SKILLSREQUIRED, jobs.LONGDESC,
            employer.EMP_DISPLAYNAME, jobs.CREATED_DATE
    FROM TV_DATA.JOBS jobs, TV_DATA.EMPLOYER employer, TV_DATA.EMPLOYERDETAILS empDtls, TV_DATA.LOCATION location 
    WHERE 1=1 AND
            <if test="jobTitle != null">
                LOWER(jobs.JOB_TITLE) LIKE '%${jobTitle}%' AND
            </if>
            <if test="location != null">
                LOWER(location.CITYNAME) LIKE '%${location}%' AND
            </if>
            <if test="salary != null">
                 LOWER(jobs.salary) LIKE '%${salary}%' AND
            </if>
            <if test="experience != null">
                 LOWER(jobs.EXPERIENCEREQUIRED) LIKE '%${experience}%' AND
            </if>

          jobs.EMPLOYER_ID = employer.EMPLOYER_ID AND
          employer.EMPLOYER_ID = empDtls.EMPLOYER_ID AND
          location.LOCATION_ID = jobs.LOCATION_ID

  </select>
  
   <resultMap id="relevantJobsResultMap" type="com.talentvouch.usebeans.RefinedJobDtlsVO">
	  
        <result property="jobTitle" column="JOB_TITLE"/>
	<result property="compName" column="COMPANY_NAME"/> 
        <result property="location" column="CITYNAME"/>
	<result property="skillsRequired" column="SKILLSREQUIRED"/> 
        <result property="experienceRequired" column="EXPERIENCEREQUIRED"/> 
        <result property="jobDesc" column="LONGDESC"/>
        <result property="salary" column="SALARY"/>
	<result property="employer" column="EMP_DISPLAYNAME"/> 
        <result property="postedDate" column="CREATED_DATE"/> 
	  
      
  </resultMap>
  
</mapper>